# ignore Dataset directories since it will be downloaded from Kaggle
faster_rcnn_resnet101/Birds/*
faster_rcnn_resnet101/models/*
faster_rcnn_resnet101/training/*
faster_rcnn_resnet101/training_ssd/*
faster_rcnn_resnet101/fasterrcnn_inference_graph/*
faster_rcnn_resnet101/ssd_inference_graph/*
faster_rcnn_resnet101/faster_rcnn_resnet101_v1_640x640_coco17_tpu-8/*
faster_rcnn_resnet101/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/*

faster_rcnn_inception_v2/Birds/*
faster_rcnn_inception_v2/models/*
faster_rcnn_inception_v2/training/*
faster_rcnn_inception_v2/training_ssd/*
faster_rcnn_inception_v2/fasterrcnn_inference_graph/*
faster_rcnn_inception_v2/ssd_inference_graph/*
faster_rcnn_inception_v2/faster_rcnn_resnet101_v1_640x640_coco17_tpu-8/*

ssd_inception_v2/Birds/*
ssd_inception_v2/models/*
ssd_inception_v2/training/*
ssd_inception_v2/fasterrcnn_inference_graph/*
ssd_inception_v2/faster_rcnn_resnet101_v1_640x640_coco17_tpu-8/*

ssd_resnet101/Birds/*
ssd_resnet101/models/*
ssd_resnet101/training/*
ssd_resnet101/ssd_inference_graph/*
ssd_resnet101/ssd_resnet101_v1_fpn_640x640_coco17_tpu-8/*